services:
  database:
    container_name: mariaDB
    hostname: ${DB_HOST_NAME}
    image: mariadb
    ports: 
      - ${DB_PORT}:${DB_PORT}
    environment:
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MARIADB_DATABASE=${MARIADB_DATABASE}
    networks:
      - mariaDB_network
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 10s
      retries: 5

  liquibase:
    container_name: liquibase
    build:
      context: .
      dockerfile: Dockerfile.liquibase
    volumes:
      - ./liquibase/:/liquibase/changelog    
    environment:
      - JDBC_URL=jdbc:mariadb://${DB_HOST_NAME}:${DB_PORT}/${MARIADB_DATABASE}
      - USER=root
      - PASSWORD=${MARIADB_ROOT_PASSWORD}
    networks:
      - mariaDB_network      
    depends_on:
      database:
        condition: service_healthy

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: api
    ports: 
      - ${API_PORT}:${API_PORT}
    environment:
      - IMAGE_DATE="banan"
      - DB_URL=${DB_URL}
      - DB_PORT=${DB_PORT}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MARIADB_DATABASE=${MARIADB_DATABASE}
    networks:
      - mariaDB_network      
    depends_on:
      liquibase:
        condition: service_completed_successfully
    
networks:
  mariaDB_network:
    driver: bridge